.section {
  width: 100%;
}

.promo__inner {
  max-width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
}

.project__inner {
  max-width: 300px;
  margin: 0 auto;
}

.project__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid var(--black);
  padding: 10px;
  /* background: var(--message-back); */
}

.project__message {
  background-color: var(--message-back);
  margin-bottom: 30px;
}

.project__message--important {
  font-weight: 500;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%!important;
  animation: gradient 15s ease infinite;
  color: var(--white);
}

.team__inner {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: max(80vh, 400px);
}

.team__title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem; 
  text-align: center;
}

.team_devs {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .promo__inner,
  .project__inner,
  .team__inner {
    max-width: none;
    margin: 30px;
  }
  
}


@media screen and (min-width: 768px) {
  .promo__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .promo__inner,
  .project__inner,
  .team__inner {
    max-width: 1250px;
    margin: 30px auto;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}