.header {
  width: 100%;
}

.header__inner {
  max-width: 300px;
  margin: 0 auto;
  border-top: 1px solid var(--black);
  margin-top: 30px;
  padding-top:15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.header__logo {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  border-color: var(--black);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 0 2px; 
}

.nav__list {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header__nav {
  border-left:1px solid var(--black);
  height: 100%;;
}

.nav__item {
  padding: 5px 5px;
  position: relative;
}

.nav__link {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 300;
  color: var(--black);
}

.nav__item::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: .3s;
}
.nav__item:hover::after {
  background: var(--black);
}

@media screen and (min-width: 375px) {
  .header__inner {
    max-width: none;
    margin: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .header__inner {
    max-width: 1250px;
    margin: 30px auto;
  }
}