.dev__name,
.dev__resp,
.dev__text {
  text-align: center;
}

.dev__img {
  margin: 0 auto;
}

.dev {
  /* border:1px solid var(--black); */
  padding: 15px;
  border-radius: 16px;
  /* color: var(--white); */
  font-family: 'PT Mono', monospace;
}