.cursor {
  z-index: 10000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid var(--black);
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0,0,0);
  position: fixed;
}

.cursor-dot {
  z-index: 10000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--black);
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0,0,0);
  position: fixed;
}

body {
  cursor: none; 
}
a {
  cursor: none;
}