
.message--right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} 

.message__author {
  background-color: #faf2ec;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  color: #362d22;
  margin-bottom: 15px;

}

.message__time {
  display: block;
  width: fit-content;
  margin-left: auto;
  opacity: 0.8;
}

.message {
  padding: 15px;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  width: fit-content;
}